<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/user.css">
    <title>User</title>
  </head>
  <body>
    <!-- Header Starts -->
    <div class="header">
      <div class="header__nav">
        <div class="header__left">
          <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" class="global-nav__logo">
            <title>LinkedIn</title>

            <g>
              <path d="M34,2.5v29A2.5,2.5,0,0,1,31.5,34H2.5A2.5,2.5,0,0,1,0,31.5V2.5A2.5,2.5,0,0,1,2.5,0h29A2.5,2.5,0,0,1,34,2.5ZM10,13H5V29h5Zm.45-5.5A2.88,2.88,0,0,0,7.59,4.6H7.5a2.9,2.9,0,0,0,0,5.8h0a2.88,2.88,0,0,0,2.95-2.81ZM29,19.28c0-4.81-3.06-6.68-6.1-6.68a5.7,5.7,0,0,0-5.06,2.58H17.7V13H13V29h5V20.49a3.32,3.32,0,0,1,3-3.58h.19c1.59,0,2.77,1,2.77,3.52V29h5Z" fill="#0c67c2"></path>
            </g>
          </svg>
          <div class="header__search">
            <i class="material-icons"> search </i>
            <input type="text" placeholder="Search"/>
          </div>
        </div>

        <div class="header__right">
          <div class="header__Option active">
            <i class="material-icons header__Option--icon"> home </i>
            <h3>Home</h3>
          </div>
          <div class="header__Option">
            <i class="material-icons header__Option--icon"> supervisor_account </i>
            <h3>My Network</h3>
          </div>
          <div class="header__Option">
            <i class="material-icons header__Option--icon"> business_center </i>
            <h3>Jobs</h3>
          </div>
          <div class="header__Option">
            <i class="material-icons header__Option--icon"> chat </i>
            <h3>Messaging</h3>
          </div>
          <div class="header__Option">
            <i class="material-icons header__Option--icon"> notifications </i>
            <h3>Notifications</h3>
          </div>
          <div class="header__Option">
            <div class="account__avatar">
              <div class="account__avatar--img">
                <img style="width: 25px; height: 25px;" src="<%= user.profile_photo%>" alt="">              
              </div>
            </div>
            <h3>Me</h3>

          </div>
        </div>
      </div>
    </div>
    <!-- Header Ends -->

    <!-- Main Body Starts -->
    <div class="body__main">
      <!-- Sidebar Starts -->
      <div class="sidebar">
        <div class="sidebar__top libd">
          <img src="https://static-exp1.licdn.com/sc/h/55k1z8997gh8dwtihm11aajyq" alt="" />
          <div class="account__avatar">
            <div class="account__avatar--img">
              <img src="<%= user.profile_photo%>" alt="">
              <button class="modal_btn" type="button">
              </button>
            </div>
            <!--<div class="account__details">R</div>-->
          </div>
          <h2><%= user.name%> <%= user.last_name%></h2>
          <h4><%= user.email%></h4>
        </div>

        <div class="sidebar__stats libd">
          <div class="sidebar__stat">
            <p>Who Viewed You</p>
            <p class="sidebar__statNumber">2,453</p>
          </div>
          <div class="sidebar__stat">
            <p>Views on post</p>
            <p class="sidebar__statNumber">2,650</p>
          </div>
        </div>

        <div class="sidebar__bottom libd">
          <p>Recent</p>
          <div class="sidebar__recentItem">
            <span class="sidebar__hash">#</span>
            <p>reactjs</p>
          </div>
          <div class="sidebar__recentItem">
            <span class="sidebar__hash">#</span>
            <p>programming</p>
          </div>
          <div class="sidebar__recentItem">
            <span class="sidebar__hash">#</span>
            <p>softwareengineering</p>
          </div>
          <div class="sidebar__recentItem">
            <span class="sidebar__hash">#</span>
            <p>design</p>
          </div>
          <div class="sidebar__recentItem">
            <span class="sidebar__hash">#</span>
            <p>developer</p>
          </div>
        </div>
      </div>
      <!-- Sidebar Ends -->

      <!-- Feed Starts -->
      <div class="feed">
        <div class="feed__input--Container libd">
          <div class="feed__input--Wrapper">
            <div class="account__avatar">
              <div class="account__avatar--img">
                <img style="width: 55px; height: 55px;" src="<%= user.profile_photo%>" alt="">
              </div>
              <!--<div class="account__details">R</div>-->
            </div>
            <form class="feed__input">
              <input class="modal_post_input" type="text" placeholder="Start a post"/>
              <button type="submit">Send</button>
            </form>
          </div>

          <div class="feed__input--Options">
            <div class="input__Option">
              <i style="color: #70b5f9" class="material-icons"> insert_photo </i>
              <h4>Photo</h4>
            </div>
            <div class="input__Option">
              <i style="color: #7fc15e" class="material-icons"> subscriptions </i>
              <h4>Video</h4>
            </div>
            <div class="input__Option">
              <i style="color: #e7a33e" class="material-icons"> event_note </i>
              <h4>Event</h4>
            </div>
            <div class="input__Option">
              <i style="color: #fc9295" class="material-icons"> calendar_view_day </i>
              <h4>Write Article</h4>
            </div>
          </div>
        </div>
        
        <!-- Post Starts 1-->
        <% users.map((user) => { %>
            <% user.posts.map((post, index) => { %>
              <div class="post libd promoted">
                <div class="post__header">
                  <div class="post__brand">
                    <img src="<%= user.profile_photo %>" />
                  </div>
                  <div class="post__info">
                    <h2 class="promoted__name"><%= user.name %> <%= user.last_name %></h2>
                    <p><%= user.email %></p>
                  </div>
                </div>
      
                <div class="post__body">
                  <div class="post__message">
                    <p><%= post.descreption %></p>
                  </div>
                  <div class="post__creative post__video">
                  
                      <!-- <video class="js_post__video post__video--style" autoplay="on" loop=""><source class="video__src" src="<%= post.media %>" type="video/mp4"></video> -->
                  
                      <img class="post__img" src="<%= post.media %>"/>
                    
                  </div>
                  <div class="post__summary">
                    <span class="post__copy">
                      <p>What is non-financial benefits could a new job offer that would get you to take a pay cut?</p>
                      <span class="post__cta--container">
                        <button class="post__cta">Learn more</button>
                      </span>
                    </span>
                    <span class="post__brand--url">cumulusfinancial.com</span>
                  </div>
                </div>
      
                <div class="feed__input--Options">
                  <div class="input__Option">
                    <i style="color: gray" class="material-icons"> thumb_up </i>
                    <h4>Like</h4>
                  </div>
                  <div class="input__Option">
                    <i style="color: gray" class="material-icons"> comment </i>
                    <h4>Comment</h4>
                  </div>
                  <div class="input__Option">
                    <i style="color: gray" class="material-icons"> share </i>
                    <h4>Share</h4>
                  </div>
                  <div class="input__Option">
                    <i style="color: gray" class="material-icons"> send </i>
                    <h4>Send</h4>
                  </div>
                </div>
              </div>
            <% }) %>
        <% }) %>
        <!-- Post Ends 1-->

      </div>
      <!-- Feed Ends -->

      <!-- Widgets Starts -->
      <div class="widgets libd">
        <div class="widgets__header">
          <h2>LinkedIn Clone</h2>
          <i class="material-icons"> info </i>
        </div>
        <div class="widgets__article">
          <div class="widgets__article--Left">
            <i class="material-icons"> fiber_manual_record </i>
          </div>
          <div class="widgets__article--Right">
            <h4>Coding LinkedIn Clone</h4>
            <p>Top news - 4500 readers</p>
          </div>
        </div>

        <div class="widgets__article">
          <div class="widgets__article--Left">
            <i class="material-icons"> fiber_manual_record </i>
          </div>
          <div class="widgets__article--Right">
            <h4>Coding LinkedIn Clone</h4>
            <p>Top news - 4500 readers</p>
          </div>
        </div>

        <div class="widgets__article">
          <div class="widgets__article--Left">
            <i class="material-icons"> fiber_manual_record </i>
          </div>
          <div class="widgets__article--Right">
            <h4>Coding LinkedIn Clone</h4>
            <p>Top news - 4500 readers</p>
          </div>
        </div>
      </div>

    </div>

    <div class="modal">
      <form action="/upload" enctype="multipart/form-data" method="POST">
        <input type="file" name="file">
        <button class="close_btn" type="button">close</button>
        <button class="upload_btn" type="submit">upload photo</button>
      </form>
    </div>

    <div class="post_modal">
      <form>
        <input type="text" name="descreption" placeholder="post descreption">
        <input type="file" name="file">
        <button type="submit">send post</button>
      </form>
    </div>

    <script src="/js/users.js"></script>
  </body>
</html>